.about {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  

  .section-title{
    margin-top: 20px;
    margin-left: 35rem;
    color:#9697934d;
    font-size: 60px;
    background: linear-gradient(to right ,#a1a1a0 10%, transparent 50%);
    background-clip: text;
    z-index: 2;
    
  }
  .about h1{
    margin-top:10px;

  }

  .about button{
    background-color: yellow;
    margin: 10px;
  }

  .about-circle{

  height:500px;
  width:500px;
  position: relative;
  border-radius: 50%;
  border: 50px solid yellow;
  opacity: 1;
  margin-bottom: -420px;
  margin-left: -350px;
  z-index: 0;
  opacity: 0.6;
  }