.hero {
  display: flex;
  background-color: #fff;
  padding: 60px;
  position: relative;
  overflow: hidden;
}

 

.hero-content {
  flex: 1;
}
.header-circle{
  height:100px;
  width:100px;
  border-radius: 50%;
  background-color:  yellow;
  margin-bottom: -100px;
}

.hero-content button{
  background-color: yellow;
}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  width: 20rem;
  height: 20rem;
  margin-left: 200px
}

.hero-doughnut {
  position: absolute;
  top: -120px;
  right: -50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 50px solid yellow;
}
